@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Do Hyeon', 'Yusei Magic', sans-serif;
}

.header {
    font-size: 50px;
    margin-bottom: 30px;
    color: #3dc1d3;
}

.main {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    height: 600px;
    width: 600px;
    color: white;
}

.text_place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8c291;
    border-radius: 5px;
    font-size: 20px;
}

.center {
    background-color: #e77f67;
    font-size: 25px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

label {
    margin-bottom: 10px;
}

button {
    background-color: #f5cd79;
    border: none;
    border-radius: 30px;;
    color: white;
    font-size: 15px;
    padding: 5px 13px;
    transition: transform 0.5s;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    font-family: 'Yusei Magic', sans-serif;
}

button:hover {
    transform: scale(1.3);
}

input {
    border: none;
    box-shadow: 0 1px 6px 0  rgba(32, 33, 36, .28);
    border-radius: 30px;
    padding: 7px 12px;
    transition: transform 0.5s;
    color: #596275;
    font-family: 'Do Hyeon', 'Yusei Magic', sans-serif;
    outline: none;
}

input:hover {
    transform: scale(1.2);
}

.background {
    background-color: #f3a683;
}
